@import "compass/css3";
@import "compass/reset";

*{
  @include box-sizing(border-box);
}

body{
	margin: 20px;
	position: relative;
	background: url("/images/bg.gif");
	font-family: 'Press Start 2P', cursive;
}

.runner{
	position: absolute;
	top: 40px;
	left: -20px;
	width: 100px;
	height: 100px;
	background-image: url("/images/runner-1.svg");
	z-index: 10;
}

.r1{

}

.r2{
	top: 140px;
	background-image: url("/images/runner-2.svg");
}

.r3{
	top: 240px;
	background-image: url("/images/runner-3.svg");
}

.run-2{
	background-position: right;
}

.athlete{
	position: absolute;
	right: 0;
	top: 108px;
	font-size: 20px;
	color: hsl(0,100,100);
	background: hsla(0,0,0, .3);
	padding: 10px 5px 5px;
}

.a1{

}

.a2{
	top: 208px;
}

.a3{
	top: 308px;
}

.race-title{
	text-align: center;
	display: block;
	width: 40%;
	margin: 0 auto;
	color: white;
	font-size: 30px;
	line-height: 30px;
	padding: 10px 0 5px;
	background: red;

	@include box-shadow(hsla(0,0,0,.5) 10px 10px 0);
}

.medal{
	background-image: url("/images/medal.png");
	width: 530px;
	height: 130px;
	margin: 0 auto;
	position: relative;
	top: 385px;
}