@import "compass/css3";
@import "compass/reset";

*{
  @include box-sizing(border-box);
}

body{
	margin: 20px;
	position: relative;
	background: url("/images/bg.gif");
	font-family: 'Press Start 2P', cursive;
}

.runner{
	position: absolute;
	top: 40px;
	left: 0;
	width: 100px;
	height: 100px;
	background-image: url("/images/run-1.svg");
}

.one{

}

.two{
	top: 140px;
}

.three{
	top: 240px;
}

.four{
	top: 340px;
}
.run-2{
	background: url("/images/run-2.svg");
}

.blue{
	background: blue;
}

.race-title{
	text-align: center;
	display: block;
	width: 40%;
	margin: 0 auto;
	color: white;
	font-size: 30px;
	line-height: 30px;
	padding: 10px 0 5px;
	background: red;

	@include box-shadow(hsla(0,0,0,.5) 10px 10px 0);
}