/* line 17, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/style.scss */
body {
  margin: 20px;
  position: relative;
  background: url("/images/bg.gif");
  font-family: 'Press Start 2P', cursive;
}

/* line 15, ../sass/style.scss */
.runner {
  position: absolute;
  top: 70px;
  left: -20px;
  width: 110px;
  height: 110px;
  background-image: url("/images/runner-1.svg");
  z-index: 10;
}

/* line 29, ../sass/style.scss */
.r2 {
  top: 170px;
  background-image: url("/images/runner-2.svg");
}

/* line 34, ../sass/style.scss */
.r3 {
  top: 270px;
  background-image: url("/images/runner-3.svg");
}

/* line 39, ../sass/style.scss */
.run-2 {
  background-position: right;
}

/* line 43, ../sass/style.scss */
.athlete {
  position: absolute;
  right: 0;
  top: 138px;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.25);
  padding: 10px 5px 5px;
}

/* line 57, ../sass/style.scss */
.a2 {
  top: 238px;
}

/* line 61, ../sass/style.scss */
.a3 {
  top: 338px;
}

/* line 65, ../sass/style.scss */
.race-title {
  text-align: center;
  display: block;
  width: 40%;
  margin: 0 auto;
  color: white;
  font-size: 30px;
  line-height: 30px;
  padding: 10px 0 5px;
  background: red;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 0;
}

/* line 79, ../sass/style.scss */
.medal {
  background-image: url("/images/medal.png");
  width: 530px;
  height: 130px;
  margin: 0 auto;
  position: relative;
  top: 415px;
}

/* line 88, ../sass/style.scss */
.start {
  background-image: url("/images/start.gif");
  height: 250px;
  width: 10px;
  opacity: .2;
  position: absolute;
  top: 130px;
  left: 80px;
}

/* line 98, ../sass/style.scss */
.start-page {
  position: relative;
}
/* line 101, ../sass/style.scss */
.start-page .start-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("/images/start-bg.gif");
}
/* line 111, ../sass/style.scss */
.start-page .start-medal {
  position: fixed;
  top: 0;
  left: 50%;
  background-image: url("/images/start-medal.png");
  width: 630px;
  height: 190px;
  z-index: 5;
  margin: 0 auto 40px -315px;
}
/* line 122, ../sass/style.scss */
.start-page .race-list {
  color: white;
  font-size: 26px;
  padding-top: 140px;
  width: 600px;
  margin: 0 auto;
}
/* line 130, ../sass/style.scss */
.start-page .race-list li {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  padding: 15px 0 10px;
}
/* line 140, ../sass/style.scss */
.start-page .race-list li:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/* line 145, ../sass/style.scss */
.start-page .race-list li span {
  opacity: 0.5;
}
